<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      myGoogleKeep Inicio 
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content >
 



    <ion-button expand="block" fill="outline" [routerLink]="['/signin']" >SignIn</ion-button>
    <ion-button expand="block" fill="outline" [routerLink]="['/signup']">SignUp</ion-button>
    <ion-button expand="block" fill="outline" [routerLink]="['/tasks']">Tasks</ion-button>
    <ion-button expand="block" fill="outline" [routerLink]="['/private-tasks']">Private-Tasks</ion-button>

    
    
  

  
  
</ion-content>
